---
layout: base
---

{% include header.html type="page" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
    {% if page.toc %}
      <link rel="preload" as="style" href="{{ '/assets/css/lib/bootstrap-toc.min.css' | relative_url }}">
      <link rel="stylesheet" href="{{ '/assets/css/lib/bootstrap-toc.min.css' | relative_url }}" />
      <script src="/assets/js/lib/bootstrap-toc.min.js"></script>
      <div id="panel-wrapper" class="col">
        <div id="toc-wrapper" class="pl-0 pr-4 mb-5">
          <span class="pl-3 pt-2 mb-2">
            Contents
          </span>
          <nav id="toc" data-toggle="toc"></nav>
        </div>
      </div>
    {% endif %}
  </div>
</div>
